.doc-card:hover .tag-container-compact {
    flex-wrap: wrap;
}

.doc-card:hover .doc-info-wrapper {
    position: absolute;
    bottom: 0px;
}

.doc-card:hover .attribute-container {
    display: flex;
    flex-wrap: wrap;
}

.doc-card .attribute-container {
    display: none;
}

.doc-info-wrapper {
    width: 100%;
    background-color: lightGray;
}

.inline-image {
    width: 100%;
    height: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.word-wrapper {
    position: absolute;
}

.word-wrapper-selected .word-container {
    border: 4px dotted black;
}

.word-wrapper:hover .word-container {
    border: 3px solid black;
}

.word-wrapper:hover .word-dropdown {
    display: block;
}

.word-container {
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    z-index: 3;
}

.word-dropdown {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    z-index: 9;
    width: max-content;
}

.word-dropdown-button {
    padding: 0px;
    margin: 0px;
    z-index: 9;
}

.draw-div {
    pointer-events: none;
    position: absolute;
    display: none;
    border: 2px dotted gray;
}